# 폴더 제외 #
/build/
/bin/
target/

# 클래스 확장자 제외
*.class
 
# 해당 확장자 제외 #
*.jar
*.war
*.ear
*.db
*.classpath
*.project
*.settings
      
# 특정 파일 제외 #
local.properties
/src/main/resources/rebel.xml